@page "/ConsultaTicket"

@inject TicketBLL ticketBLL

<label>ID</label>
<div class="input-group">
    <InputNumber @bind-Value="filtrar" class="form-control"></InputNumber>
    <button type="button" class="btn btn-outline-primary oi oi-magnifying-glass" @onclick="Buscar"></button>
    <button type="button" class="btn btn-outline-primary oi oi-reload" @onclick="Reiniciar"></button>
</div>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Fecha</th>
            <th>Cliente ID</th>
            <th>Sistema ID</th>
            <th>Prioridad ID</th>
            <th>Solicitado Por</th>
            <th>Asunto</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in L_Tickets)
        {
            <tr>
                <td>@item.TicketId</td>
                <td>@item.Fecha</td>
                <td>@item.ClienteId</td>
                <td>@item.SistemaId</td>
                <td>@item.PrioridadId</td>
                <td>@item.SolicitadoPor</td>
                <td>@item.Asunto</td>
                <td>@item.Descripcion</td>
                <td><a href="/RegistroTickets/@item.TicketId"><span class="oi oi-eye"></span></a></td>
            </tr> 
        }
    </tbody>
</table>

@code{
    public List<Tickets> L_Tickets { get; set; } = new List<Tickets>();
    public Tickets tickets { get; set; } = new Tickets();
    public int filtrar { get; set; }

        protected override void OnInitialized()
        {
            L_Tickets = ticketBLL.Listar(c => true); 
        }
    
    public void Buscar()
    {
        L_Tickets = ticketBLL.Listar(t => t.TicketId == filtrar);
    }

    public void Reiniciar()
    {
        L_Tickets = ticketBLL.Listar(l => true);
    }
}